/*Colors*/
:root{
    --verde:#64fe50;
    --negro:#1d2027;
    --azul: #051a6b;
}
/*Generic code*/
body{
    display: flex;
    flex-direction: column;
    min-height: 140vh;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    /*background-image: url('../img/wallpaper.jpg');*/
    background-color: #F4F6F6;
}
*{
    box-sizing: border-box;
}
#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    z-index: 10000;
}
#carga{
    border: 15px solid #ccc;
    border-top-color: var(--verde);
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    form {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.hidden-content {
    display: none;
}
.center-img{
    float:none !important;
    display: block;
    margin: auto;
}
.center-text{
    text-align: center;
    display: block;
    margin: auto;
}
.OpenSans-Bold{
    font-family: OpenSans-Bold !important;
}
.button-white{
    text-decoration: none;
    color: #ffffff;
    background-color: #64fe50;
    border-radius: 5px;
    padding: 10px;
    transition: 200ms ease-in-out;
}.button-white:hover{
    color: #64fe50;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    transition: 200ms ease-in-out;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.heading {
    color: black;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
}
  
.loading {
    display: flex;
    width: 5em;
    align-items: center;
    justify-content: center;
}
  
.load {
    width: 23px;
    height: 3px;
    background-color: limegreen;
    animation: 1s move_5011 infinite;
    border-radius: 5px;
    margin: 0.1em;
}
  
.load:nth-child(1) {
    animation-delay: 0.2s;
}
  
.load:nth-child(2) {
    animation-delay: 0.4s;
}
  
.load:nth-child(3) {
    animation-delay: 0.6s;
}
  
@keyframes move_5011 {
    0% {
      width: 0.2em;
    }
  
    25% {
      width: 0.7em;
    }
  
    50% {
      width: 1.5em;
    }
  
    100% {
      width: 0.2em;
    }
}
  


/*---------------------------------------------------------------------------*/
/*-----------------------------------INDEX-----------------------------------*/
/*---------------------------------------------------------------------------*/
/*Header code*/
.general-container{
    width: 100%;
    max-width: 100%;
}

.logo{
    width: 10%;
}
.header{
    transition: all ease 500ms;
    z-index: 21;
    width: 100%;
    height: 110px;
    max-height: 110px;
    position: fixed;
    overflow: hidden;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.4);
}

.header.scroll-down{
    background-color: #051a6b;
    color: #ffffff;
}
.menu.scroll-down a{
    color: #ffffff;
}

.container-header{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.logo{
    width: 200px;
    float: left;
}

.menu{
    float: right;
    line-height: 60px;
    transition: 1s ease-in-out;
    margin-right: 30px;
    margin-top: 25px;
}
.menu a{
    margin-right: 2em;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    font-family: Gotham-Medium;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.menu a:focus,
a:hover {
    color: var(--verde);
}

.menu a:focus:after,
.menu a:hover:after {
    width: 100%;
    left: 0%;
}

.menu a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--verde);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/*-----------------------------Body code-----------------------------*/
    /*Welcome*/
        .welcome-message{
            max-width: 100%;
            width: 100%;
            position: absolute;
            z-index: 19;
            text-align: center;
            display: block;
            margin: 15em auto 15em auto;
            color: #ffffff;
            background-color: #000000;
            opacity: 0.7;
        }
        .welcome-message h1{
            font-family: Gotham-Bold;
            font-size: 7em;
            text-transform: uppercase;
        }
        .welcome-message p{
            font-family: Gotham-Medium;
            font-size: 1.5em;
        }
    /*Slider*/
        .container-slider{
            max-width: 100%;
            overflow: hidden;
            margin: auto;
            position: relative;
            height: 727px;
        }
        .slider{
            display: flex;
            width: 400%;/*CADA IMAGEN EQUIVALE A UN 100%*/
            height: 400px;
            margin-left: -100%;
        }
        .slider-section{
            margin-top: 7em;
            width: 100%;
            height: 150%;
        }
        .slider-img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    /*Codigo generico para secciones*/
        .sector-white{
            background-color: #ffffff;
            color: #000000;
            padding: 10em 0 10em 0;
        }
        .sector-black{
            background-color: var(--negro);
            color: #ffffff;
            padding: 10em 0 10em 0;
        }
    /*Acerca de nosotros*/
        .about-us{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        .about-us h2{
            text-transform: uppercase;
            font-size: 75px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0.521);
            background-image: url(../img/About_us_content_img.jpeg);
            text-align: center;
            margin: 0 20%;

        }
        .about-us-content{
            font-family:Gotham-Medium;
            font-size: 18px;
            text-align: justify;
            margin: 0 10%;
            line-height : 25px;
        }
    /*Fechas*/
        .fechas-content{
            text-align: center;
        }
    /*Galeria*/
        .galeria_container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            margin-bottom: 40px;
        }

        .galeria h1{
            font-size: 30px;
        }
        .galeria h2{
            font-size: 40px;
        }
        .galeria hr{
            border-color: #64fe50;
            width: 40%;
        }
        .galeria_container img{
            width: 100%;
        }
    /*Equipo*/
        .equipo hr{
            border-color: #000000;
            width: 40%;
        }
        .container_equipo{
            display: grid;
            grid-template-columns: repeat(3,1fr)
        }
        .container_equipo img{
            width: 70%;
            display: block;
            margin: auto;
        }

  
/*-----------------------------End Body code-----------------------------*/

/*-----------------------------Footer code-----------------------------*/
.footer-container{
    margin-top: auto;
    bottom: 0;
    overflow: hidden;
    background-color: #6e7567;
    padding: 1em 1em;
}

.footer{
    overflow: hidden;
    font-family: OpenSans-Medium;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: aliceblue;
}

.footer-col{
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}
.footer-col p{
    margin: 0 10%;
    text-align: justify;
}

.footer-col img{
    width: 50%;
}

.contact-us-img{
    width: 30% !important; 
    display: block;
}

.contact_us{
    display: flex;
}

.contact_us li{
    list-style: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all ease 250ms;
    border-left: 2px solid #ffffff00;
}.contact_us a{
    width: 100%;
    display: flex;
    justify-content: center;
}.contact_us li:hover{
    background-color: rgba(255, 255, 255, 0.37);
    transform: scale(1.02);
    transition:ease-out 250ms;
    border-left: 2px solid white;
}
/*-----------------------------Footer code-----------------------------*/

/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------WEB RESPONSIVE-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){
    .menu a{
        font-size: 15px;
    }
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){
    
}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){
    
}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){
    
}

/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){
    
}

/*---------------------------------419 WIDTH-------------------------*/
@media screen and (max-width: 419px){
    
}