/*Colors*/
:root{
    --verde:#64fe50;
    --negro:#1d2027;
    --azul: #051a6b;
}

/*---------------------------------------------------------------------------*/
/*-----------------------------------INDEX-----------------------------------*/
/*---------------------------------------------------------------------------*/
.logo{
    width: 10%;
}