/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------WEB RESPONSIVE-------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------1290 WIDTH-------------------------*/
@media screen and (max-width: 1290px){
    /* index.html */
    .menu a{
        font-size: 13px;
    }
    .tabla-posiciones {
        width: 80%;
    }
    .match-container {
        width: 60%;
    }
    .match-detail {
        width: 100%;
    }
    /* partidos.html */
    .partidos-container h1 {
        font-size: 80px;
    }
    .partido-section {
        width: 80%;
    }
    /* en-vivo.html */
    .live-partido-section {
        margin: 100px auto auto auto;
        width: 80%;
    }
}

/*---------------------------------1090 WIDTH-------------------------*/
@media screen and (max-width: 1090px){
    .logo {
        margin-left: 10%;
    }
    .menu a{
        font-size: 12px;
    }

    .button-center {
        width: 20%;
    }

    .partidos-container h1 {
        font-size: 70px;
    }

    .partidos-container {
        margin: 150px auto;
    }

    .about-us-content {
        font-size: 13px;
        text-align: justify;
        margin: 0 10%;
        line-height: 25px;
        grid-column: 2/3;
    }

    .galeria_container {
        width: 80%;
    }

    .equipo-element img {
        width: 300px;
    }

    .footer-col img {
        width: 80%;
    }
    .contact-us-img {
        width: 50% !important;
    }
}

/*---------------------------------900 WIDTH-------------------------*/
@media screen and (max-width: 900px){

    .menu{
        opacity: 0;
        transition: 1s ease-in-out;
        display: none;
    }
    .toggle{
        opacity: 1;
    }

    .about-us h1 {
        font-size: 80px;
    }

    .about-us h2{
        font-size: 20px;
    }
    .about-us-content{
        font-size: 12px;
    }

    .match-container {
        width: 70%;
    }

    .team-partido-A-img {
        width: 100px;
    }
    .team-partido-B-img {
        width: 100px;
    }

    .fechas-content{
        text-align: center;
        font-size: 15px;
    }

    .galeria-container {
        margin: 20% 5%;
    }

    .footer-col p{
        font-size: 12px;
    }
}

/*---------------------------------815 WIDTH-------------------------*/
@media screen and (max-width: 815px){
    .about-us h2{
        font-size: 22px;
    }
    .button-center {
        width: 40%;
    }
    .about-us-content{
        font-size: 12px;
    }
    .equipo-element img {
        width: 200px;
    }
    .fechas-content{
        text-align: center;
        font-size: 14px;
    }
    .galeria h1 {
        font-size: 100px;
    }
    .galeria h2{
        font-size: 38px;
    }

    .team-tittle-video {
        font-size: 40px;
    }
    .live-partido-section h1 {
        font-size: 70px;
    }
}

/*---------------------------------720 WIDTH-------------------------*/
@media screen and (max-width: 720px){
    .welcome-message h1{
        font-size: 6em;
    }
    .about-us h1 {
        font-size: 50px;
    }
    .about-us h2{
        font-size: 25px;
    }
    .match-date {
        width: 30%;
    }
    .button-center {
        width: 20%;
        font-size: 12px;
    }
    .team-tittle-video {
        font-size: 30px;
    }
    .live-video{
        width: 80%;
        height: 315px;
        margin: 15% auto;
    }
    .footer-col img {
        width: 100%;
    }
    .footer-col h1{
        font-size: 20px;
    }
}
/*---------------------------------615 WIDTH-------------------------*/
@media screen and (max-width: 615px){
    .welcome-message h1{
        font-size: 5em;
    }
    .logo {
        margin-left: 5%;
    }
    .about-us h1 {
        font-size: 80px;
        grid-column: 1/3;
        margin-bottom: 5%;
    }
    .about-us-content {
        font-size: 13px;
        grid-column: 1/3;
    }
    .about-us h2{
        font-size: 30px;  
    }
    .partidos h1 {
        font-size: 80px;
    }
    .tabla-posiciones {
        width: 90%;
    }
    .match-container {
        width: 80%;
    }
    .button-center {
        width: 25%;
    }
    .galeria h1 {
        font-size: 80px;
    }
    .galeria_container {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
    }
    .equipo-element img {
        width: 250px;
    }
    .contact_us {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        background-color: #64fe50;
        border-radius: 7px;
    }
    .contact_us li {
        margin: 5% auto;
    }
    .contact-us-img{
        width: 40% !important; 
    }
    .partidos-container h1 {
        font-size: 60px;
    }
    .team-partido-A-img {
        width: 80px;
    }
    .team-partido-B-img {
        width: 80px;
    }
    .partido-section {
        width: 90%;
    }
    .match-video{
        width: 460px;
        height: 315px;
        margin: 5% auto;
    }
    .live-partido-section h1 {
        font-size: 60px;
    }
    .live-partido-section {
        width: 90%;
        margin: 100px auto;
    }
}

/*---------------------------------419 WIDTH-------------------------*/
@media screen and (max-width: 419px){

    .loader-img{
        bottom: 50px;
    }

    .header {
        height: 100px;
    }
    .logo{
        margin-top: 10px;
    }.logo img{
        width: 150px;
    }

    .toggle {
        width: 50px;
        height: 50px;
    }.toggle span {
        width: 30px;
    }.toggle span:nth-child(1) {
        right: 11px;
    }.toggle span:nth-child(2) {
        right: 11px;
    }

    .slider-section {
        margin-top: 3em;
    }
    .welcome-message h1{
        font-size: 3em;
    }
    .cont-toggle-bar {
        max-width: 290px;
    }
    .welcome-message {
        margin: 50vh auto auto auto;
    }
    .welcome-message p{
        font-size: 1em;
    }

    .about-us h1{
        font-size: 60px;
    }.about-us h2{
        font-size: 18px;
    }.about-us p{
        font-size: 12px;
    }
    
    .partidos h1 {
        font-size: 60px;
    }

    .tabla-posiciones {
        margin: 5% auto 10% auto;
    }.tabla-posiciones tr {
        font-size: 10px;
    }

    .Encabezado-tabla {
        font-size: 11px !important;
    }
     
    .match-date {
        width: 35%;
        font-size: 12px;
    }
    .team-a {
        flex-direction: column-reverse;
        font-size: 20px;
    }
    .team-b {
        flex-direction: column;
        font-size: 20px;
    }

    .button-center {
        width: 30%;
        font-size: 10px;
        padding: 10px 20px;
    }
    .galeria-container {
        margin: 30% 5%;
    }
    .galeria-container h1 {
        font-size: 50px;
    }
    .galeria h1 {
        font-size: 60px;
    }
    .galeria h2{
        font-size: 30px;
    }
    .equipo h1 {
        font-size: 60px;
    }
    .footer {
        display: block;
    }
    .footer-col img {
        width: 60%;
    }
    .footer-col h1 {
        font-size: 15px;
    }
    .contact_us {
        width: 50%;
        margin: auto;
    }
    .footer-col {
        margin: 5% auto;
    }
    .footer-col p{
        font-size: 12px;
    }
    .partidos-container h1 {
        font-size: 50px;
    }

    .team-tittle-video:nth-child(1){
        flex-direction: column-reverse;
    }
    .team-tittle-video:nth-child(3) {
        flex-direction: column;
    }
    .match-video {
        width: 70%;
        height: 215px;
        margin: 5% auto;
    }

    /* LIVE MATCH */
    .live-partido-section {
        width: 100%;
    }
    .live-partido-section h1{
        font-size: 60px;
        margin: auto !important;
    }
    .tittle-video {
        width: 90%;
        margin: auto;
        gap: 40px;
    }
    .team-tittle-video {
        font-size: 30px;
    }
    .live-video-container {
        width: 90%;
        margin: auto;
    }
    .live-indication {
        margin: 2% auto 2% 9%;
    }
    .live-video {
        width: 80%;
        height: 315px;
        margin: 20% auto 10% auto;
    }

    /* MATCH REPS */
    .partidos-container {
        margin: 130px auto;
    }.partidos-container h1 {
        margin: 0 10%;
    }
    .video-container {
        width: 90%;
        margin: auto;
    }
    .team-tittle-video {
        margin: 5% auto;
    }.team-tittle-video p{
        margin: 5% auto;
    }
}