/*Colors*/
:root{
    /*color pallette of the organization*/
    --verde:#64fe50;
    --negro:#1d2027;
    --azul: #051a6b;
}

/*--------------------Generic code----------------------*/
html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

.OpenSans-Bold{
    font-family: OpenSans-Bold !important;
}.OpenSans-Medium{
    font-family: OpenSans-Medium !important;
}

.Gotham-Bold{
    font-family: Gotham-Bold !important;
}.Gotham-Medium{
    font-family: Gotham-Medium !important;
}

.Montserrat-Bold{
    font-family: Montserrat-Bold !important;
}.Montserrat-Light{
    font-family: Montserrat-Light !important;
}.Montserrat-Medium{
    font-family: Montserrat-Medium !important;
}

.Bebas-Neue-Regular{
    font-family: Bebas-Neue-Regular !important;
}.Bebas-Neue-Bold{
    font-family: Bebas-Neue-Bold !important;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #F4F6F6;
}

.center-img{
    float:none !important;
    display: block;
    margin: auto;
}

.center-text{
    text-align: center;
    display: block;
    margin: auto;
}

.center-absolute{
    display: block;
    margin: 40vh auto auto auto;
    text-align: center;
}


.button-center{
    cursor: pointer;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 50px;
    display: block;
    margin: auto;
    text-align: center;
    width: 15%;
    transition: all 500ms ease;
}

.button-white{
    color: var(--negro);
    background-color: var(--verde);
}.button-white:hover{
    color: var(--verde);
    background-color: #F4F6F6;
}

.button-black{
    color: var(--verde);
    background-color: var(--negro);
}.button-black:hover{
    color: #F4F6F6;
    background-color: var(--verde);
}

/*----------------------LOADER V2-----------------------*/

.loader-img{
    width: 50%;
    display: block;
    bottom: 0px;
    position: absolute;
}

.main-fader {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: var(--negro);
    z-index: 22;
    transition: 1s ease-in-out;
}
.main-fader .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main-fader .loader svg {
    height: 300px;
    display: block;
    margin: 0 auto;
}
.main-fader .loader svg path {
    animation-duration: 1s;
    animation-name: pulse;
    animation-iteration-count: infinite;
    color: #26a380;
}
.main-fader .loader svg path.path-7 {
    animation-delay: -1s;
}
.main-fader .loader svg path.path-6 {
    animation-delay: -0.875s;
}
.main-fader .loader svg path.path-5 {
    animation-delay: -0.75s;
}
.main-fader .loader svg path.path-4 {
    animation-delay: -0.625s;
}
.main-fader .loader svg path.path-3 {
    animation-delay: -0.5s;
}
.main-fader .loader svg path.path-2 {
    animation-delay: -0.375s;
}
.main-fader .loader svg path.path-1 {
    animation-delay: -0.25s;
}
.main-fader .loader svg path.path-0 {
    animation-delay: -0.125s;
}

@keyframes pulse {
    0% {
        opacity: 0.1;
   }
    30% {
        opacity: 0.8;
   }
    100% {
        opacity: 0.1;
   }
}

/*----------------------END LOADER V2-------------------*/

/*----------------------MENU TOGGLE-------------------*/
.toggle{
    float: right;
    line-height: 75px;
    transition: 1s ease-in-out;
    top: 30px;
    right: 40px;
    opacity: 0;
    position: relative;
    width: 55px;
    height: 55px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    z-index: 23;
}.toggle span{
    position: absolute;
    width: 35px;
    height: 4px;
    background: var(--azul);
    border-radius: 4px;
    transition: 0.5s;
}.toggle span:nth-child(1){
    transform: translateY(-15px);
    width: 18px;
    right: 15px;
}.toggle.active span:nth-child(1){
    width: 25px;
    transform: translateY(0px) rotate(45deg);
    transition-delay: 0.125s;
}
.toggle span:nth-child(2){
    transform: translateY(15px);
    width: 16px;
    right: 15px;
}.toggle.active span:nth-child(2){
    width: 25px;
    transform: translateY(0px) rotate(315deg);
    transition-delay: 0.25s;
}
.toggle.active span:nth-child(3){
    transform: translateX(60px);
}

.container-toggle-bar{
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    visibility: hidden;
    opacity: 0;
    z-index: 22;
}.container-toggle-bar.active{
    transition: all 500ms ease;
    visibility: visible;
    opacity: 1;
}

.cont-toggle-bar{
    width: 100%;
    max-width: 350px;
    background: #1c1c1c;
    height: 100vh;
    float: right;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 500ms ease;
    z-index: 22;
    visibility: hidden;
    opacity: 0;
    display: none;
}.cont-toggle-bar.active{
    visibility: visible;
    opacity: 1;
    display: block;
}.cont-toggle-bar nav{
    transform: rotateY(15%);
}.cont-toggle-bar nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ffff;
    border-left: 5px solid transparent ;
    transition: all 400ms ease;
}.cont-toggle-bar nav a:hover{
    cursor: pointer;
    border-left: #1863ff;
    background: #1f1f1f;
}
/*----------------------END MENU TOGGLE-------------------*/


/*---------------------------------------------------------------------------*/
/*-----------------------------------INDEX-----------------------------------*/
/*---------------------------------------------------------------------------*/

/*------------------Header code----------------*/
.general-container{
    width: 100%;
    max-width: 100%;
    background-image: url('/assets/img/background_img.jpg');
    min-height: 80vh;
}

.logo{
    width: 10%;
}
.header{
    transition: all ease 500ms;
    z-index: 21;
    width: 100%;
    height: 115px;
    max-height: 115px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: var(--azul);
}

.container-header{
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.logo{
    width: 200px;
    float: left;
    margin-left: 15%;
}

.menu{
    float: right;
    line-height: 60px;
    transition: 1s ease-in-out;
    margin-right: 30px;
    margin-top: 25px;
}
.menu a{
    margin-right: 2em;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    font-family: Gotham-Medium;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.menu a:focus,
a:hover {
    color: var(--verde);
}

.menu a:focus:after,
.menu a:hover:after {
    width: 100%;
    left: 0%;
}

.menu a:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--verde);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/*-----------------------------Body code-----------------------------*/
    /*Welcome*/
        .welcome-message{
            max-width: 100%;
            width: 100%;
            position: absolute;
            z-index: 19;
            text-align: center;
            display: block;
            margin: 35vh auto auto auto;
            color: #ffffff;
            background-color: #000000;
            opacity: 0.8;
        }
        .welcome-message h1{
            font-size: 150px;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 0px;
        }
        .welcome-message p{
            font-size: 1.5em;
        }
    /*Slider*/
        .container-slider{
            max-width: 100%;
            overflow: hidden;
            margin: auto;
            position: relative;
            height: 100vh;
        }
        .slider{
            display: flex;
            width: 400%;/*CADA IMAGEN EQUIVALE A UN 100%*/
            height: 400px;
            margin-left: -100%;
        }
        .slider-section{
            margin-top: 7em;
            width: 100%;
            height: 100vh;
        }
        .slider-img{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    /*Codigo generico para secciones*/
        .sector-white{
            background-color: #ffffff;
            color: #000000;
        }
        .sector-black{
            background-color: var(--negro);
            color: #ffffff;
        }
    /*------------------Acerca de nosotros------------------*/
        .about-us{
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            padding: 7% 0%;
            margin: 50px auto;
        }
        .about-us h1{
            text-transform: uppercase;
            font-size: 100px;
            letter-spacing: 1px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0.521);
            background-image: url(../img/About_us_content_img.jpeg);
            text-align: center;
            margin: 0 20%;
            grid-row: 1/3;
        }
        .about-us-content{
            font-size: 15px;
            text-align: justify;
            margin: 0 10%;
            line-height : 25px;
            grid-column: 2/3;
        }
    /*------------------Partidos------------------*/
        .partidos{
            width: 100%;
            padding: 7% 0%;
            margin: 50px auto;
        }
        .partidos h1{
            text-transform: uppercase;
            font-size: 100px;
            letter-spacing: 1px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(75, 75, 75, 0.144);
            background-image: url(../img/Fechas_content.jpg);
            text-align: center;
            margin: 0 20%;
        }

        .tabla-container{
            margin: 5% auto;
        }
        
        .Encabezado-tabla{
            background-color: var(--azul)!important; 
            color: #ffffff;
            font-size: 20px;
        }

        .tabla-posiciones{
            border: none !important;
            border-collapse:collapse;
            width: 60%;
            margin: auto;
        }.tabla-posiciones td{
            padding: 10px;
            border-bottom: solid 1px rgba(0, 0, 0, 0.068);
        }.tabla-posiciones tr:nth-child(odd){
            background-color: rgba(82, 82, 82, 0.144);
        }.tabla-posiciones tr{
            font-size: 12px;
        }.tabla-posiciones img{
            width: auto;
            height: auto;
            max-width: 2em;
            max-height: 2em;
        }
        
        .equipo-tabla{
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
        }
        
        .fechas-container{
            margin: 5% auto;
        }

        .match-container{
            
            margin: 0 auto 1% auto;
            background-color: rgba(109, 109, 109, 0.438);
            width: 40%;
            border-radius: 2px;
            color: #ffffff;
            padding: 1% 0%;
        }

        .match-date{
            width: 20%;
            padding: 1%;
            border-radius: 7px;
            display: block;
            margin: auto auto 3% auto;
            text-align: center;
            font-size: 15px;
            color: #ffffff;
            background-color: var(--negro);
        }

        .match-detail{
            display: flex;
            align-items: center;
            width: 50%;
            margin: auto;
        }.match-detail p{
            color: #000000;
        }

        .team-a{
            display: flex;
            align-items: center;
            margin: auto;
            color: #000000;
            font-size: 30px;
        }.team-a img{
            width: 100px;
        }

        .team-b{
            display: flex;
            align-items: center;
            margin: auto;
            color: #000000;
            font-size: 30px;
        }.team-b img{
            width: 100px;
        }


    /*------------------Galeria------------------*/
        .galeria{
            width: 100%;
            padding: 7% 0%;
            margin: 50px auto;
        }
        
        .galeria h1{
            text-transform: uppercase;
            font-size: 100px;
            letter-spacing: 1px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(255, 255, 255, 0.521);
            background-image: url(../img/About_us_content_img.jpeg);
            text-align: center;
        }
        
        .galeria_container{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
            width: 60%;
            margin: 2% auto;
        }

        .galeria_container img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    /*Equipo*/
        .equipo{
            width: 100%;
            padding: 7% 0%;
            margin: 50px auto;
        }

        .equipo h1{
            text-transform: uppercase;
            font-size: 100px;
            letter-spacing: 1px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(75, 75, 75, 0.144);
            background-image: url(../img/Fechas_content.jpg);
            text-align: center;
            margin: 0 20%;
        }

        .container-equipo{
            display: flex;
            width: 80%;
            grid-template-columns: repeat(3, 1fr);
            margin: 30px auto;
            gap: 2em;
        }

        .equipo-element{
            margin: auto;
        }.equipo-element img{
            width: 350px;
        }.equipo-element p{
            width: 350px;
        }

    /*----------------------------------Partidos.html---------------------------------------*/

        .partidos-container {
            margin: 200px auto;
            max-width: 100%;
            min-height: 80vh;
        }.partidos-container h1{
            text-transform: uppercase;
            font-size: 100px;
            letter-spacing: 1px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(75, 75, 75, 0.144);
            background-image: url(../img/Fechas_content.jpg);
            text-align: center;
            margin: 0 20%;
        }


        .partido-section{
            align-items: center;
            color: var(--negro);
            margin: 40px auto;
            padding: 5% 0 5% 0;
            width: 60%;
        }

        .tittle-video{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100%;
            background-color: #051a6b;
            border-radius: 14px 14px 0 0;
            color: #F4F6F6;
            min-height: 125px;
            gap: 20px;
        }

        .team-tittle-video{
            display: flex;
            font-size: 50px;
        }

        .team-partido-A-img{
            width: 150px;
            display: block;
            margin: auto;
        }
        .team-partido-B-img{
            width: 150px;
            display: block;
            margin: auto;
        }

        .video-container{
            background-color: rgba(82, 82, 82, 0.144);
            display: flex;
            justify-content: center;
            padding: 5% 0;
        }
        .match-video{
            width: 560px;
            height: 315px;
        }
    /*----------------------------------en-vivo.html---------------------------------------*/
        .live-partido-section{
            align-items: center;
            color: var(--negro);
            margin: 80px auto auto auto;
            padding: 5% 0 5% 0;
            width: 60%;
        }

        .live-partido-section h1{
            text-transform: uppercase;
            font-size: 100px;
            letter-spacing: 1px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(75, 75, 75, 0.144);
            background-image: url(../img/Fechas_content.jpg);
            text-align: center;
            margin: 0 20%;
        }

        .live-video-container{
            background-color: rgba(82, 82, 82, 0.144);
            display: flex;
            min-height: 400px;
        }

        .live-indication{
            display: flex;
            float: left;
            margin: 2%;
            position: absolute;
            align-items: center;
            gap: 10px;
        }

        .live-video{
            width: 560px;
            height: 315px;
            display: block;
            margin: 5% auto;
        }
        
        .recording-ball {
            width: 25px;
            height: 25px;
            background-color: red;
            border-radius: 50%;
            animation: pulseBall 1.5s infinite;
        }

        @keyframes pulseBall {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
                opacity: 0.7;
            }
            100% {
                transform: scale(1);
            }
        }

        .not-live{
            display: block;
            margin: auto;
        }
        /*----------------------------------galeria.html---------------------------------------*/
        .galeria-container{
            margin: 10% 10%;
        }
        .galeria-container h1{
            text-transform: uppercase;
            font-size: 100px;
            letter-spacing: 1px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: rgba(75, 75, 75, 0.144);
            background-image: url(../img/Fechas_content.jpg);
            text-align: center;
            margin: 0 20%;
        }

        

        .gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 20px;
        }

        .gallery-item {
            flex: 1 0 300px;
            /* Cambia el valor de 300px según tus necesidades */
            margin: 10px;
            overflow: hidden;
        }

        .gallery-item img {
            width: 100%;
            height: auto;
            border-radius: 8px;
            /* Agrega bordes redondeados si lo deseas */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            /* Agrega sombra según tus preferencias */
        }
  
/*-----------------------------End Body code-----------------------------*/

/*-----------------------------Footer code-----------------------------*/
.footer-container{
    bottom: 0;
    overflow: hidden;
    background-color: #000000;
    padding: 1em 1em;
}

.footer{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: aliceblue;
}

.footer-col{
    width: 100%;
    display: block;
    margin: auto;
    text-align: center;
}
.footer-col p{
    margin: 0 10%;
    text-align: justify;
}

.footer-col img{
    width: 50%;
}

.contact-us-img{
    width: 30% !important; 
    display: block;
}

.contact_us{
    display: flex;
}

.contact_us li{
    list-style: none;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    transition: all ease 250ms;
    border-left: 2px solid #ffffff00;
}.contact_us a{
    width: 100%;
    display: flex;
    justify-content: center;
}.contact_us li:hover{
    background-color: rgba(255, 255, 255, 0.37);
    transform: scale(1.02);
    transition:ease-out 250ms;
    border-left: 2px solid white;
}
/*-----------------------------Footer code-----------------------------*/